:root {
  font-family: "Nunito", sans-serif;
  --purple-theme: #7c4797;
  --purple-rgb: 124, 71, 151;

  --orange-theme: #eda251;
  --orange-rgb: 237, 162, 81;

  --white-theme: #f7f2f7;
  --white-rgb: 247, 242, 247;
}

body {
  background-color: var(--white-theme);
}

/* Font sizes */
h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.5rem;
}

p {
  font-size: 1.5rem;
}

a {
  font-size: 1.2rem;
  text-decoration: none;
}

/* Header */
.site-header {
  background: url(../images/header.jpg);
  background-size: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 10;
}

.site-header__logo-icon {
  width: 225px;
}

.site-header__info {
  padding: 1em 0 0 0;
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
}

.socials {
  display: flex;
  gap: 0.5em;
}

.socials__icon {
  width: 38px;
  fill: var(--white-theme);
  transition: transform 0.3s ease;

  &:hover {
    fill: var(--orange-theme);
    transform: scale(1.1);
  }

  &:active {
    fill: var(--orange-theme);
    transform: scale(0.9);
  }
}

.site-header__phone-link {
  font-weight: 600;
  color: var(--white-theme);
  display: flex;
  align-items: center;

  &:hover .site-header__phone-icon {
    animation: rotateLeftRight 0.5s ease;
  }
}

.site-header__phone-icon {
  flex-shrink: 0;
  width: 1.5em;
  height: auto;
  margin-right: 0.2em;
  fill: var(--white-theme);
}

/* Navbar header */
.site-header__menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.site-header__menu-item {
  position: relative;
}

.site-header__menu-link {
  color: var(--white-theme);
  padding: 1.1em;
  display: block;
  font-weight: bold;
}

.site-header__submenu {
  list-style-type: none;
  background-color: var(--purple-theme);
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  animation: slideDown 0.3s ease-out;
  padding: 0;
}

.site-header__submenu-link {
  padding: 0.6em;
  color: var(--white-theme);
  display: block;
  font-weight: bold;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  border-radius: 10px;

  &:hover {
    background-color: var(--orange-theme);
    transition:
      background-color 0.3s ease,
      transform 0.3s ease;
    transform: scale(1.03);
  }
}

.site-header__menu-link {
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-3px);
  }
}

.site-header__menu-item {
  &:hover .site-header__submenu {
    display: block;
  }

  &:has(.site-header__submenu) {
    .site-header__menu-link::after {
      position: absolute;
      content: "▾";
      margin-left: 0.2em;
      top: 1.15em;
    }
  }
}

.site-header__menu-link--active {
  background: url(../images/dog-bone.svg) no-repeat center;
  background-size: 100%;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

/* Body */
.row-hero {
  background-image: url(../images/hero.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center 60%;
  display: flow-root;
  position: relative;
}

.row-hero__grabber {
  position: absolute;
  color: var(--white-theme);
  bottom: 10%;
  left: 5%;
  margin: 0;
  max-width: 60%;
  filter: drop-shadow(4px 5px 1px rgba(0, 0, 0, 0.5));
}

.row-hero__tag {
  margin: 0;
}

.text-emphasis {
  font-weight: bolder;
}

/* Animation */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotateLeftRight {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Responsive */
.row-wrapper {
  max-width: 90%;
  margin: 0 auto;
}
