:root {
  font-family: "Nunito", sans-serif;
  --purple-theme: #7c4797;
  --orange-theme: #eda251;
  --white-theme: #f7f2f7;
}

body {
  background-color: var(--white-theme);
}

/* Font sizes */
h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
}

a {
  font-size: 1.2rem;
  text-decoration: none;
}

/* Header */
.site-header {
  background: url(../images/header.jpg);
  background-size: cover;
}

.logo img {
  width: 225px;
}

.header-drop-shadow {
  filter: drop-shadow(2px 2px 2px rgba(71, 50, 4, 0.8));
}

.above-navbar {
  padding: 1em 0 0 0;
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
}

.socials-container {
  display: flex;
  gap: 0.5em;

  svg {
    width: 38px;
    fill: white;
  }
  svg:hover {
    fill: var(--orange-theme);
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  svg:active {
    fill: var(--orange-theme);
    transform: scale(0.9);
    transition: transform 0.2s ease;
  }
}

.phone-number-link {
  font-weight: 600;
  color: var(--white-theme);
  display: flex;
  align-items: center;

  img {
    width: 1.5em;
    margin-right: 0.2em;
  }
}

.phone-number-link:hover img {
  animation: rotateLeftRight 0.5s ease;
}

/* Navbar header */
.navbar-header {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  li {
    position: relative;
  }

  a {
    color: var(--white-theme);
    padding: 1.1em;
    display: block;
    font-weight: bold;
  }

  .dropdown-content a {
    padding: 0.6em;
  }

  .main-link:hover {
    transform: translateY(-3px);
    transition: transform 0.3s ease;
  }

  .active {
    background: url(../images/dog-bone.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  }

  .dropdown-content {
    background-color: var(--purple-theme);
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    animation: slideDown 0.3s ease-out;

    a:hover {
      background-color: var(--orange-theme);
      border-radius: 10px;
      transition: background-color 0.3s ease, transform 0.3s ease;
      transform: scale(1.03);
    }
  }

  .li-dropdown:hover .dropdown-content {
    display: block;
  }

  .li-dropdown > a::after {
    position: absolute;
    content: "▾";
    margin-left: 0.2em;
    top: 1.15em;
  }
    
}

/* Body */
.hero {
  background-image: url(../images/hero.jpg);
  min-height: 100svh;
  background-size: cover;
  background-position: center;
  display: flow-root;
  position: relative;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));

  h1 {
    position: absolute;
    color: var(--white-theme);
    top: 80%;
    left: 5%;
    margin: 0;
    line-height: 1;
    filter: drop-shadow(4px 5px 0.5px rgba(0, 0, 0, 0.5));
    max-width: 60%;
  }

  h3 {
    margin: 0;
    filter: drop-shadow(1px 2px 0.5px rgba(0, 0, 0, 0.5));
  }
}

.text-emphasis {
  font-weight: bolder;
  font-style: oblique;
}

/* Animation */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotateLeftRight {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Responsive */
.row-wrapper {
  max-width: 90%;
  margin: 0 auto;
}
