:root {
  font-family: "Nunito", sans-serif;
  --purple-theme: #7c4797;

  --orange-theme: #eda251;

  --white-theme: #f4f4f4;

  --off-section-theme: #f3ede3;
}

* {
  box-sizing: border-box;
}

/* Font sizes */
h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

p {
  font-size: 1.5rem;
  font-weight: 500;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
}

header a {
  font-size: 1.1rem;
  font-weight: bold;
}

/* Utility */
.text-emphasis {
  font-weight: bolder;
  font-style: italic;
  color: var(--orange-theme);
}

/* Button */
.link-container {
  display: flex;
  gap: 0.6rem;
}

.link-container__link {
  padding: 0.5em;
  color: var(--white-theme);
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
    z-index: 10;
  }

  &:active {
    transform: scale(0.95);
  }
}

.link-container__link--purple {
  background-color: var(--purple-theme);
}

.link-container__link--orange {
  background-color: var(--orange-theme);
}

/* Header */
.site-header * {
  color: var(--white-theme);
}

.site-header {
  background: url(../images/paw-print.jpg);
  background-size: cover;
  padding-top: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

.site-header__logo-icon {
  width: 225px;
  height: auto;
}

.site-header__info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials {
  display: flex;
  gap: 0.5rem;
}

.socials__icon {
  width: 40px;
  fill: var(--white-theme);
  transition: transform 0.3s ease;

  &:hover {
    fill: var(--orange-theme);
    transform: scale(1.1);
  }

  &:active {
    fill: var(--orange-theme);
    transform: scale(0.9);
  }
}

.site-header__phone-link {
  display: flex;
  align-items: center;

  &:hover .site-header__phone-icon {
    animation: rotateLeftRight 0.5s ease;
  }
}

.site-header__phone-icon {
  flex-shrink: 0;
  width: 1.5em;
  height: auto;
  margin-right: 0.2em;
  fill: var(--white-theme);
}

/* Navbar header */
.site-header__menu {
  display: flex;
  gap: 0.5rem;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding-inline-start: 0;
}

.site-header__menu-link {
  padding: 0.7em 1em 0.8em 1em;
  display: block;
  font-weight: bold;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-3px);
  }
}

.site-header__submenu {
  list-style-type: none;
  background-color: var(--purple-theme);
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0;
  border-radius: 10px;
  animation: slideDown 0.3s ease-out;
}

.site-header__submenu-link {
  padding: 0.6em;
  display: block;
  font-weight: bold;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  border-radius: 10px;

  &:hover {
    background-color: var(--orange-theme);
    transition:
      background-color 0.3s ease,
      transform 0.3s ease;
    transform: scale(1.03);
  }
}

.site-header__menu-item {
  position: relative;

  &:hover .site-header__submenu {
    display: block;
  }

  &:has(.site-header__submenu) {
    .site-header__menu-link::after {
      position: absolute;
      content: "▾";
      margin-left: 0.2em;
      margin-top: 0.1em;
    }
  }
}

.site-header__menu-link--active {
  background: url(../icons/dog-bone.svg) no-repeat center;
  background-size: contain;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

/* Body */
body {
  background-color: var(--white-theme);
}

.row-hero {
  min-height: 100svh;
  background: url(../images/dog-hero.jpg) no-repeat center;
  background-size: cover;
  padding: 10%;
  color: var(--white-theme);
  position: relative;
}

.row-hero::before {
  /* https://wavier.art/ */
  content: "";
  width: 100%;
  height: 15px;
  position: absolute;
  bottom: -0.3%;
  left: 0;
  background-size: auto;
  background-repeat: repeat no-repeat;
  background-position: 20vw bottom;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  80' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 59L50 55C100 51 200 44 300 30C400 15 500 -6 600 1C700 8 800 44 900 59C1000 73 1100 66 1150 62L1200 59V80H1150C1100 80 1000 80 900 80C800 80 700 80 600 80C500 80 400 80 300 80C200 80 100 80 50 80H0V59Z' fill='%23f2f2f2'/></svg>");
}

@media (max-width: 850px) {
  /* https://wavier.art/ */
  .wave-container::before {
    height: 7.5px;
  }
}

.row-hero__stars {
  width: 100px;
  height: auto;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.row-hero__title {
  text-shadow: 3px 5px 3px #00000080;
  margin: 0;
  max-width: 38rem;
  line-height: 1;
}

.row-hero__subtitle {
  text-shadow: 3px 5px 3px #00000080;
  margin: 0.5em 0;
}

.content-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &:nth-child(odd) {
    background-color: var(--off-section-theme);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1);
  }
}

.content-row--horizontal {
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  text-align: left;
  gap: 1rem;
}

.content-row__title {
  max-width: 40rem;
  line-height: 1;
}

.content-row__body {
  max-width: 60rem;
}

.content-card {
  text-align: left;
  background-color: var(--purple-theme);
  color: var(--white-theme);
  border-radius: 10px;
  padding: 2rem;
  max-width: 40rem;
  border-top: 15px groove var(--orange-theme);

  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.content-card:nth-child(odd):hover {
  transform: rotate(-1.5deg);
}

.content-card:nth-child(even):hover {
  transform: rotate(1.5deg);
}

/* Footer */
.site-footer {
  min-height: 20rem;
  background-size: cover;
  background: url(../images/paw-print.jpg);
  border-top: 20px groove var(--orange-theme);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);

  /* grid */
}

/* Animation */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotateLeftRight {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
